

.gallery img{
    width: 100%;

}

h1{
    color: rgb(47, 76, 87);
    text-align: center;
    padding: 15px;
    background-color: rgb(184, 134, 134);
}

h2{
    color: rgb(47, 76, 87);
    padding: 15px;
    background-color: rgb(184, 134, 134);
}

h3{
    color: rgb(47, 76, 87);
    padding: 15px;
    background-color: rgb(184, 134, 134);
}

p{
    color:rgb(131, 90, 61);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#menu{
    width:100%;
    height: 50px;
    background-color: rgb(58, 141, 106);
    padding-top: 15px;
    padding-bottom: 15px;
    
}

#menu a{
    color: rgba(250, 250, 250, 0.753);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;

    padding-left: 20px;
    padding-right: 20px;
}

#menu a:hover{
    color: black;
}
